<div class="display-5 text-white ">
  <div class="btn-group">

    <button class="btn btn-sm btn-outline-success"
            [ngClass]="{'btn-outline-success': !toggleCollapse, 'btn-success': toggleCollapse}"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
            (click)="toggleCollapse = !toggleCollapse">
      <i class="fas fa-sliders-h"></i> Filter <i class="fas fa-angle-right fa-lg rotate"
                                                 [ngClass]="{'down' : toggleCollapse}"></i>
    </button>
  </div>
</div>
<div class="collapse mt-2" id="collapseExample">
  <div class="card card-body ml-1">

    <div class="mt-1 ml-1 mr-2">

      <span class="label label-large label-success arrowed-in font-weight-bold text-white">Job Role</span>
      <div class="input-group mt-2" *ngFor="let role of job_role_filters">
      <span class="input-group-addon">

        <input class="" type="checkbox" (change)="role.selected = !role.selected; applyFilters()">
      </span>
        <label class="form-control">
          {{role.role}}
        </label>
      </div>
    </div>
    <hr>
    <div class="mt-1 ml-1">

      <span
        class="label label-large label-success arrowed-in font-weight-bold text-white">
        Maximum Charge
      </span>
      <div class="pl-3">

        <mat-slider min="0" [max]="maxSlider" [step]="1" [(ngModel)]="valueOfSlider" [thumbLabel]="true"
                    (change)="applyFilters()"></mat-slider>
        <label>
          AUD {{valueOfSlider}}
        </label>
      </div>


    </div>
    <hr>
    <div class="mt-1 ml-1">

      <span
        class="label label-large label-success arrowed-in font-weight-bold text-white">
        Free Dates
      </span>
      <div class="mt-1 pl-3">

        <mat-form-field>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFrom" placeholder="From"
                 [(ngModel)]="fromDate" (dateChange)="applyFilters()">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerTo" placeholder="To"
                 [(ngModel)]="toDate" (dateChange)="applyFilters()">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

      </div>


    </div>
    <hr>
    <!--<button class="btn btn-info" (click)="applyFilters()">Apply</button>-->
    <button class="btn btn-warning" (click)="clearFilters()">clear filters</button>
  </div>


</div>

