<section id="expolore-section" class="bg-somewhite text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <!--<img src="../../../assets/img/enjoy.jpg" alt="" class="img-fluid rounded-circle mb-3">-->
        <div class="m-2">
          <h1 class="display-5 text-darkgray">
            <span class="rounded bg-light p-2">Search</span>
          </h1>
          <hr>
          <p class="lead text-white"><samp>Sort and filter results. Book a professional in minutes.</samp></p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <!--<img src="../../../assets/img/enjoy.jpg" alt="" class="img-fluid rounded-circle mb-3">-->
        <div class="m-2">
          <h1 class="display-5 text-darkgray">
            <span class="rounded bg-light p-2">Book</span>
          </h1>
          <hr>
          <p class="lead text-white"><samp>Lock in the best educator or stylist for your needs.</samp></p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <!--<img src="../../../assets/img/enjoy.jpg" alt="" class="img-fluid rounded-circle mb-3">-->
        <div class="m-2">
          <h1 class="display-5 text-darkgray">
            <span class="rounded bg-light p-2">Enjoy</span>
          </h1>
          <hr>
          <p class="lead text-white"><samp>Build a loyal, inspired styling team and dazzle your clients.</samp></p>
        </div>
      </div>
    </div>
  </div>
</section>
