<section id="expolore-section" class="bg-primary text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <!--<img src="../../../assets/img/enjoy.jpg" alt="" class="img-fluid rounded-circle mb-3">-->
        <div class="p-5">
          <h1 class="display-5 text-darkgray">
            <mark class="rounded-top">Discover</mark>
          </h1>
          <p class="lead text-white">Search for best hair stylist</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <!--<img src="../../../assets/img/enjoy.jpg" alt="" class="img-fluid rounded-circle mb-3">-->
        <div class="p-5">
          <h1 class="display-5 text-darkgray">
            <mark class="rounded-top">Book</mark>
          </h1>
          <p class="lead text-white">Choose and hire</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <!--<img src="../../../assets/img/enjoy.jpg" alt="" class="img-fluid rounded-circle mb-3">-->
        <div class="p-5">
          <h1 class="display-5 text-darkgray">
            <mark class="rounded-top">Enjoy</mark>
          </h1>
          <p class="lead text-white">Get the job done easier</p>
        </div>
      </div>
    </div>
  </div>
</section>
