<footer class="footer-bottom">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        <div class="copyright-text">
          <p>CopyRight © 2017 Digital All Rights Reserved</p>
        </div>
      </div> <!-- End Col -->
      <div class="col-sm-6  ">
        <div class="copyright-text pull-right">
          <p><a href="#">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a href="#">Refund
            Policy</a></p>
        </div>

      </div> <!-- End Col -->
    </div>
  </div>

</footer>
<!--<footer id="main-footer" class="bg-dark">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col text-center">-->
<!--<div class="py-4">-->
<!--<h1 class="h3">HairB2B</h1>-->
<!--<p>Copyright &copy; 2017</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
