<footer class="footer-bottom">

  <div class="container">
    <div class="row hidden-sm-down">
      <div class="col-md-6">
        <div class="copyright-text ">
          <p class="">CopyRight © 2017 Digital All Rights Reserved</p>
        </div>
      </div> <!-- End Col -->
      <div class="col-md-6">
        <div class="">
          <div class="copyright-text right-to">
            <p><a href="#">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a href="#">Refund
              Policy</a></p>
          </div>


        </div>

      </div>
    </div>
    <div class="copyright-text hidden-md-up">

      <ul class="list">
        <li class=""><a href="#">Home</a></li>
        <li class=""><a href="#">Privacy</a></li>
        <li class=""><a href="#">Terms & Conditions</a></li>
        <li class=""><a href="#">Refund Policy</a></li>
      </ul>
      <div class="md-center">
        <p>CopyRight © 2017 Digital All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

