<div class="card card m-2 p-2" style="width: 20rem;">
  <img class="card-img-top profile-pic" src="data:image/jpg;base64,{{stylist.profile_pic}}" alt="Card image cap">
  <div class="card-body mt-3">
    <h4 class="card-title d-flex justify-content-center">{{stylist.first_name}} {{stylist.last_name}}
      <small class="badge badge-success ml-2">{{stylist.job_role}}</small>
    </h4>
    <div class="d-flex justify-content-center">
      <rating [(ngModel)]="stylist.rating" [readonly]="true"></rating>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <button class="btn btn-outline-primary btn-lg cursor-hand" routerLink="/profile/view/stylist/{{stylist.id}}">view
        profile
      </button>
    </div>
  </div>
</div>
