.bg-d-green {
  background-color: darkgreen;
}

.bg-d-orange {
  background-color: darkorange;
}

.bg-d-gray {
  background-color: darkgray;
}

.outline-success {
  border: solid 1px darkgreen;
}

.profile-pic {
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

.skill-badge-selected {
  background-color: #d15b47;
}

.skill-badge {
  background-color: cadetblue;
}

