<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="text-center text-white">
          <h1 class="display-3">The best hair stylists</h1>
        </div>
        <div><h4 class="text-center text-ghostwhite">Getting a quick <i><b>Job</b></i> <i
          class="fa fa-thumbs-up fa-1x"></i></h4></div>
        <br>
        <div class="card alert alert-info text-center card-form">
          <div class="card-body">
            <app-search></app-search>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
