<form class="" #searchForm>
  <div class="input-group">
    <div class="btn-group-vertical">
      <button class="btn btn-success btn-sm fa fa-caret-up" (click)="changeSearchBy()"></button>
      <button class="btn btn-success btn-sm fa fa-caret-down" (click)="changeSearchBy()"></button>
    </div>
    <input #searchStylist type="text" class="form-control" placeholder={{placeholder}} [(ngModel)]="q"
           [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search_text" required>

    <button type="submit" class="btn btn-primary btn-md fa fa-search ml-2" routerLink="/search"
            [queryParams]="{q: q, search_by_name: search_by_name}" (click)="search()"
            [disabled]="!searchForm.checkValidity()"><b> {{search_by}}</b></button>

    <div class="btn-group ml-1">

      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="popover" data-placement="bottom"
              data-popover-content="#a1">
        Advanced
      </button>
      <div id="a1">

        <div hidden class="popover-body">
          <div class="m-1">
            <div class="input-group mt-2" *ngFor="let role of job_role_filters">
            <span class="input-group-addon">

              <input class="" type="checkbox" (change)="role.selected = !role.selected; applyFilters()">
            </span>
              <label class="form-control">
                {{role.role}}
              </label>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="m-1">

            <mat-slider min="0" [max]="maxSlider" [step]="1" [(ngModel)]="valueOfSlider" [thumbLabel]="true"
                        [ngModelOptions]="{standalone: true}"
            ></mat-slider>
            <label class="mat-h5">
              AUD {{valueOfSlider}}
            </label>
          </div>
        </div>

      </div>
    </div>

  </div>
</form>
