/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

body{
  background: #333;
}

.navbar{
  border-bottom: solid 1px #008ed6;
  opacity: 0.9;
}

.home-inner {
  padding-top: 100px;
}
